body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.heading{
    background-color: #231f87;;
    text-align: center;
    color: white;
    padding: 20px;;
}

section{
    /* margin: 100px 0 0 100px; */
    margin: auto;
    width: 50%;
    border: 1px solid #231f87;
    border-radius: 5px;
    text-align: center;
    padding: 30px 40px;
}

.sec1{
    margin: 1% auto;
    border: 1px solid #231f87;
    border-radius: 10px;
}


input{
    /* padding: 15px 50px; */
    width: 260px;
    height: 50px;
    text-align: left;
}

.digit{
    padding: 20px;
    color: #231f87;
    font-size: 20;
    /* text-align: center; */
}

button{
    padding: 15px 30px;
    font-size: large;
    background-color: #231f87;
    color: white;
    border: none;
    width: 40px;
}

.sci-btn-div button{
    padding: 10px 23px;
    font-size: large;
    background-color: #231f87;
    color: white;
    border: none;
    width: 40px;
}

.btn-div{
    /* background-color: cadetblue; */
    /* position:absolute; */
    margin: 0%;

}

#sci-btn-id{
    display: none;
}

